/* TABLET VIEW */
@media only screen and (max-width:768px) {

    h2{
        font-size: 60px;
    }
.mobile_menu {
    display: block;
}  

.mobile-menu-popout {
    display: block;
}
.flex_nav{
    display: none;
}

.logo {
    height: 30px;
}

.darkmode_button {
    height: 70px;
    width: 70px;
    right: 10px;
}

.light_mode {
    height: 70px;
    width: 70px;
    right: 10px;
}
a.navlink {
    font-size: 20px;
    margin-bottom: 20px;
}
#main_nav{
    height: 40px;
    justify-content: center;
}

#main_nav img {
    width: 70px;
}

.header{
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 5px;
}

.grid {
    height: 300px;
}

.sq_row1 {
    gap: 5px;
}


.sq_row2 {
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sq_row3 {
    gap: 5px;
}
.square {
    width: 150px;
    font-size: 24px;
}
.headshot{
    width: 260px;
    height: 260px;
}

.photo_frame{
    width: 260px;
    height: 260px;
    border-width: 4px;
}
 p{
    font-size: 16px;
 }
.about_row {
    gap: 50px;
    max-width: 600px;
}
 h3 {
    font-size: 20px;
    margin-top: 10px;
    
 }

.row {
    gap: 0px;
}


    

 .skill_image {
   width: 70px;
   height: 70px;
 }


 .skill_text{
    font-size: 20px;
 }

 .column {
    flex-direction:column;
  
 }
 .gallery_block{
   width: 430px;
   height:auto;  
   padding-bottom: 20px; 
 }

 .img_gallery {
    width: 300px;
    height: 210px;
 }

 .work_sub {
    font-size: 16px;
 }

form {
    max-width: 500px;
    
}

.form_width {
    width: 400px;
    height: 50px;
}

.width_message {
    width: 400px;
}

 .q_box {
    max-width: 600px;
    height: 50px;
   
 }

 .question {
    font-size: 18px !important;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  
}



 .faq-open {
    height: auto;
 }


 footer {
    height: 30px;

}

.footer1 {
    font-size: 14px;
}
}


/* MOBILE VIEW */
@media only screen and (max-width: 390px) {

    section {
        margin-top: 50px;
    }
    .container {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
h2 {
    font-size: 36px ;
    }

h3 {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}


.grid {
    height: 150px;
    
}

.square {
    width: 100px;
    font-size: 11px;
}
.about_row {
    flex-direction: column;
    max-width: 250px;
    
    
  
}

.intro {
    width: 100%;
    max-width: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
p {
    font-size: 14px;
    
}
.headshot {
    width: 200px;
    height: 200px;
}

.photo_frame {
    width: 200px;
    height: 200px;
    top: 30px;
    left: 40px;

}

.skill_image {
    width: 50px;
    height: 50px;
}
.skillsub {
    padding-bottom: 30px;
}

.skill_text {
    font-size: 13px;
}

.row {
    gap: 30px;
}

.gallery_block {
    width: 100%;
    height: auto;
    
}

.img_gallery {
    width: 250px;
    height: 175px;
}
 .form_width {
    width: 400px;
    height: 50px;
}


.form_width {
    width: 250px;
    height: 40px;
}
.width_message {
    width: 250px;
}

 .q_box {
    width: 100%;
    max-width: 390px;
    height: 30px;
    margin-bottom: 20px;


   
 }

 .question {
    font-size: 11px !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
  

}

.answer {
    font-size: 11px !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    
}
.faq_flex {
    margin:0px;
}
.faq-open {
    height: auto;
}

.form_1 {
margin-bottom: 0px;
}
label {
    font-size: 14px;
}
::placeholder {
    font-size: 12px;
}

input[type=text] {
    border-width: 1px;
}

input[type=email]{
    border-width: 1px; 
}

.width_message {
    border-width: 1px; 

}
}
